@use './globals.scss' as global;

.sidenav-wrapper{
    display: flex;
    flex-direction: column;

    border: solid 1px black;
    background-color: global.$global-blue;
}

@media screen and (min-width: 769px){
    .sidenav-wrapper{
        height: 100vh;
        width: 10vw;
    }
}
@media screen and (min-width: 600px) and (max-width: 768px) {}
@media screen and (max-width: 600px) {}